@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

html, body {
  width: 100%;
  height: 100% padding: 0;
  margin: 0px;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.sub-content {
  width: 100%;
  max-width: 850px;
  background-color: white;
  padding: 10px;
  margin: auto;
}

.shownumber {
  color: #0069D9;
}

.table-hover .price {
  color: #0069D9;
  font-family: "Lato", sans-serif;
  font-size: 35px;
  font-weight: 300;
  letter-spacing: -2px;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

.table-hover .currency {
  font-family: "Lato", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #414141;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

.table-hover th {
  font-size: 12px;
  font-weight: 600;
  color: #414141;
  text-transform: uppercase;
}

.table-hover .time {
  font-family: "Lato",sans-serif;
  color: #414141;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

.table-hover .airportcity {
  font-size: 12px;
  font-weight: 600;
  color: #949494;
  text-transform: uppercase;
}

.table-hover .duration {
  font-size: 12px;
  font-weight: 600;
  color: #414141;
  text-transform: uppercase;
}

.table-hover .plusday {
  font-family: "Lato",sans-serif;
  color: #414141;
  font-size: 12px;
  font-weight: 400;
}

.table-hover img {
  height: 50px;
  width: auto;
}

.nav .nav-tabs {

}

.pagination {
  justify-content: center;
}

#loadOverlay{display: none;}
